body {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
	font-family: Charcoal, sans-serif;
	font-weight: Bold;
	font-size: 25px;
	color: Blue;
}

.versionDiv {
    text-align: center
}