.custom-control-override {
  padding-left: 3.3rem;
  margin-top: 0.3rem;
}

.picam-control-row {
  padding: 5px 0 0 0;
}

.versionDiv {
  text-align: center;
  font-size: small;
}

.settings > .row {
  padding-top: 10px;
}